#map {
	bottom: 0px;
	height: 100%;
	left: 362px;
	position: absolute;
	right: 0px;
}

.options-box {
	background: #fff;
	border-radius: 3px;
	height: 100%;
	line-height: 35px;
	padding; 10px 10px 30px 10px;
	text-align: left;
	width: 340px;
	font-family: sans-serif;
}

.list {
	width: 400px;
}

.search-box {
	width: 340px;
	font-size: 16px;
	border: 2px solid #000;
	font-family: Sans-serif;

}